.home .feature h2{
    color: #208964!important;
    text-align: center;    
}
.home .footer{
    position: absolute;
    left: 0;
    right: 0;
    z-index :99;
    background:#208964;
    color:#fff !important;    
}