
/* icon font */

@font-face {
    font-family: "iconfont";
    src        : url('/assets/font/iconfont.woff2') format('woff2'),
        url('/assets/font/iconfont.woff') format('woff'),
        url('/assets/font/iconfont.ttf?t=1542333212698') format('truetype');
}

.iconfont {
    font-family            : "iconfont" !important;
    font-size              : 1.1em;
    font-style             : normal;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.home .feature h2{
    color: #208964!important;
    text-align: center;    
}
.home .footer{
    position: absolute;
    left: 0;
    right: 0;
    z-index :99;
    background:#208964;
    color:#fff !important;    
    overflow: hidden;
}

/* 演示样式 */
.lib-content{
    margin: 0 -90px;    
}
.lib-content h2 {
    font-size    : 20px;
    color        : #1f2f3d;
    font-weight: normal;
    border:0;
}

.lib-content .demo {
    border       : 1px solid #ebebeb;
    border-radius: 3px;
    padding      : 24px;
    margin-bottom: 24px;
}

.lib-content .block {
    margin-bottom: 20px;
}

.lib-content p {
    font-size  : 14px;
    color      : #5e6d82;
    line-height: 1.5em;
    margin     : 1em 0;
}